# micropython libs
usniffs/lib/

# IDE
.idea/

# mpbridge ignore file
usniffs/mpbridge.ignore

# main.py is for my development, but has no use in the library or in the repo at this moment
usniffs/main.py